html {
    scrollbar-gutter: stable;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a, span, div {
    font-family: 'Pretendard';
}

article:not(pre) {
    font-family: 'Pretendard';
}

@media (prefers-color-scheme: light) {
    .adaptive-svg {
        fill: #343a40;
    }
}
@media (prefers-color-scheme: dark) {
    .adaptive-svg {
        fill: #f8f9fa;
    }
}