html {
    scrollbar-gutter: stable;
    text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.3);
    -webkit-text-size-adjust: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a, span, div {
    font-family: 'Pretendard', sans-serif;
}

article:not(pre) {
    font-family: 'Pretendard', sans-serif;
}

@media (prefers-color-scheme: light) {
    .adaptive-svg {
        fill: #343a40;
    }
}
@media (prefers-color-scheme: dark) {
    .adaptive-svg {
        fill: #f8f9fa;
    }
}